header{
    border: 15px, solid, black;
    
}

body{
    
}

#name{
    background: #4faaa5;
    color: white;
    width: 300px;
    padding: 20px;
    float: left;
    margin-left: 200px;
}

nav{
    float: right;
    margin-right: 150px;
    padding: 20px;

}

a{
    clear: both;
    
    


}

.head1{

    width: 100%;
    border-bottom: 1px solid black;
    background: white;
    
    height: 100px;

}

.mainpage{
    width: 960px;
    background: blue;
    height: 500px;
    margin-left: 100px;
    margin-top: 20px;
}

.backcolor{
    width: 100%;
    height: 1000px;
    background: gray;
    margin: 0;
    padding: 0;
}